
@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.scroll-column {
  display: flex;
  flex-direction: column;
}

.scroll-down {
  animation: scrollDown 60s linear infinite;
}

.scroll-up {
  animation: scrollUp 60s linear infinite;
}
